<h1>Éditer le Van</h1>
<%= form_with model: @van, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.submit 'Mettre à jour' %>
  </div>
<% end %>
<%= link_to 'Retour à la liste des Vans', vans_path %>
