<div class="vans-title">
  <h1>Tous les vans</h1>
</div>

<div class="vans-list">
  <% @vans.each do |van| %>
    <div class="small-van-card">
      <% if van.photos.attached? %>
        <%= cl_image_tag van.photos.key, class: "img-fluid"%>
      <% else %>
        <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', class: "img-fluid" %>
        <% end %>
      <div class="van-details">
        <h3><%= van.title %></h3>
        <p><%= van.description %></p>
        <p class="price"><%= number_to_currency(van.price_per_day, unit: '€', precision: 0) %>/jour</p>
        <%= link_to "En savoir plus", van_path(van), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
