<div class="container">
  <div class="vans-title">
    <h1>Tous mes vans</h1>
  </div>

  <% if @vans.any? %>
    <div class="vans-list">
      <% @vans.each do |van| %>
        <div class="small-van-card">
          <% if van.photos.attached? %>
            <%= cl_image_tag van.photos.key, class: "img-fluid"%>
          <% else %>
            <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', class: "img-fluid" %>
          <% end %>
          <div class="van-details">
            <h3><%= van.title %> - <%= van.status.capitalize %></h3>
            <div class="van-actions">
              <%= link_to 'Éditer ce Van', edit_van_path(van), class: 'btn-edit' %>
              <%= link_to 'Supprimer ce Van', delete_my_van_path(van), method: :delete, data: { confirm: 'Êtes-vous sûr?', turbo_method: :delete }, class: 'btn-delete' %>
            </div>
            <p><%= van.description %></p>
            <p class="price"><%= number_to_currency(van.price_per_day, unit: '€', precision: 0) %>/jour</p>
            <p>Ce van est proposé par : <%= van.user.name %></p>
            <%= link_to "Voir mon van", van_path(van), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4 class="text-center">Vous n'avez pas encore ajouté de van...</h3>
    <h4 class="text-center">Tenté pour mettre en location ton van ?</h3>
    <%= link_to "Ajouter mon van", new_van_path, class: "btn btn-primary" %>
  <% end %>
</div>
