<div class="container m-3">
  <h1 class = "text-center">Réservations de mes Vans</h1>

  <% if @reservations.any? %>
    <div class="d-flex">
      <% @reservations.each do |reservation| %>
      <div class="card m-3 bg-white">
        <div class="card-body">
          <p><strong>Du <%= reservation.start_date %> au <%= reservation.end_date %></strong></p>
          <strong><%= reservation.van.title %> </strong><%= link_to "(Détail de mon van)", van_path(reservation.van) %> <br>
          <strong>Client :</strong> <%= reservation.user.name %><br>
          <strong>Status :</strong> <%= reservation.status.capitalize %><br>
          <strong>Prix :</strong> <%= number_to_currency(reservation.price, unit: '€') %>
          <div class="d-flex">
            <% if reservation.status == "attente" %>
              <%= link_to "Accepter", accept_my_van_reservation_path(reservation), data: {turbo_method: :patch}, class: "btn btn-primary" %> <br>
              <%= link_to "Refuser", reject_my_van_reservation_path(reservation), data: {turbo_method: :patch}, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <p>Vous n'avez pas encore de réservations pour vos vans.</p>
  <% end %>
</div>
