<div class="page-container">
  <div class="van-back">
    <%= link_to vans_path, class: 'back-link' do %>
      <span class="back-arrow">&larr;</span> Retour à la liste des Vans
    <% end %>
  </div>
  <div class="van-container">
    <div class="van-header">
      <div class="van-image">
        <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', alt: @van.title %>
      </div>
      <div class="van-title">
        <h1 class="van-title-font"><%= @van.title %></h1>
      </div>
    </div>
    <% if user_signed_in? && @van.user == current_user %>
      <div class="van-actions">
        <%= link_to 'Éditer ce Van', edit_van_path(@van), class: 'btn-edit' %>
        <%= link_to 'Supprimer ce Van', van_path(@van), method: :delete, data: { confirm: 'Êtes-vous sûr?' }, class: 'btn-delete' %>
      </div>
    <% end %>
    <div class="van-description">
      <p><%= @van.description %></p>
    </div>
    <div class="van-price">
      <p><%= @van.price_per_day %> €/jour</p>
    </div>
    <div class="van-reserve">
      <%= link_to 'Réserver ce Van', new_van_booking_path(@van), class: 'btn-reserve' %>
    </div>
    <div class="van-user">
      <p><em>Ce van est proposé par : <%= @van.user.name %></em></p>
    </div>
    <div class="van-reviews">
      <h2>Avis</h2>
      <% @van.reviews.each do |review| %>
        <div class="review">
          <div class="review-stars">
            <% (1..5).each do |i| %>
              <span class="star <%= 'filled' if review.rating >= i %>">★</span>
            <% end %>
          </div>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
