<h1><%= @van.title %></h1>
<p><%= @van.description %></p>
<p>Prix: <%= @van.price_per_day %> EUR/jour</p>
<%= link_to 'Réserver ce Van', new_van_booking_path(@van) %>
<% if user_signed_in? && @van.user == current_user %>
  <%= link_to 'Éditer ce Van', edit_van_path(@van) %>
  <%= link_to 'Supprimer ce Van', van_path(@van), method: :delete, data: { confirm: 'Êtes-vous sûr?' } %>
<% end %>
<%= link_to 'Retour à la liste des Vans', vans_path %>
