<h1>Nouvelle Conversation</h1>
<%= form_with model: [@booking, @message], local: true do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.submit 'Envoyer' %>
  </div>
<% end %>
<%= link_to 'Retour aux Messages', booking_messages_path(@booking) %>
