<ul>
  <% @bookings.each do |booking| %>
    <li>
      Du <%= booking.start_date %> au <%= booking.end_date %>
<%#       <%= link_to 'Éditer', edit_van_booking_path(@van, booking) %>
      <%# <%= link_to 'Annuler', van_booking_path(@van, booking), method: :delete, data: { confirm: 'Êtes-vous sûr?' } %> %> %>
    </li>
  <% end %>
</ul>
<%= link_to 'Retour au Van', vans_path(@van) %>
