<!-- app/views/bookings/new.html.erb -->

<div class="container-full">
  <div class="row justify-content-center">
    <!-- Section principale sans carte ni fond -->
    <div class="col-12 text-center booking-info">
      <h1 class="page-title">Nouvelle Réservation pour <%= @van.title %></h1>
      <div class="stars-image">
        <%= image_tag 'stars.png', class: "stars-img", alt: 'Stars Image' %>
      </div>
      <p class="lead">Nous vous accompagnons dans l'organisation de vos roadtrips, partout en France et en Europe.</p>
      <p class="lead">Prêt à faire partie d'une grande aventure ? Il ne te reste qu'à réserver ton van pour profiter pleinement !</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8">
      <!-- Carte "Ton Van" -->
      <div class="van-card card bg-light">
        <div class="card-body">
          <% if @van.photos.attached? %>
            <%= cl_image_tag @van.photos.key, class: "card-img-top img-fluid", alt: 'Van Photo' %>
          <% else %>
            <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', class: "card-img-top img-fluid", alt: 'Van Photo' %>
          <% end %>
          <div class="van-details">
            <h5 class="card-title"><%= @van.title %></h5>
            <p class="card-text"><%= @van.description %></p>
            <p class="card-text price mb-0 van-price"><%= number_to_currency(@van.price_per_day, unit: '€', precision: 0) %>/jour</p>
            <div class="van-reviews">
              <h2>Avis</h2>
              <% if @van.reviews.any? %>
                <% @van.reviews.each do |review| %>
                  <div class="review">
                    <div class="review-stars">
                      <% (1..5).each do |i| %>
                        <span class="star <%= 'filled' if review.rating >= i %>">★</span>
                      <% end %>
                    </div>
                    <p><%= review.comment %></p>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucun avis pour le moment</em></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <!-- Carte "Informations sur la réservation" -->
      <div class="booking-info-card-new card bg-white">
        <div class="card-header">
          <h4 class="card-title">Informations</h4>
        </div>
        <div class="card-body">
          <%= simple_form_for [@van, @booking], html: { local: true }, class: "booking-form" do |f| %>
            <%= f.input :start_date, label: 'Début de ton séjour', input_html: { id: 'start_date', data: { controller: "datepicker", booking_target: "startDate" } } %>
            <%= f.input :end_date, label: 'Fin de ton séjour', input_html: { id: 'end_date', data: { controller: "datepicker", booking_target: "endDate", action: "change->booking#updateTotalPrice" } } %>
            <%= f.input :name, label: 'Nom', input_html: { value: current_user.name } %>
            <%= f.input :phone_number, label: 'Numéro de téléphone', input_html: { value: current_user.phone_number } %>
            <%= f.input :email, label: 'Email', input_html: { value: current_user.email } %>
            <%= f.input :address, label: 'Adresse', input_html: { value: current_user.address } %>

            <div id="total_price" data-booking-target="totalPrice" class="my-3">Prix Total: 0€</div>

             <div class="text-center mt-3">
              <br><%= f.submit 'Réserver', class: "btn btn-custom-reserve" %></br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
