  <div class="d-flex align-items-center m-3">
    <%= link_to vans_path(@van) do %>
      <i class="fa-solid fa-arrow-left text-dark"></i>
    <% end %>
    <%= link_to 'Retour à la liste des Vans', vans_path, class: "ms-2 text-dark fw-bold link-underline-light" %>
  </div>
<div class="container mt-3" data-controller="booking" data-booking-price-per-day="<%= @van.price_per_day %>">
   <!-- Site info -->
    <div class="bg-white">
      <div class="container p-3">
        <div class="row">
          <div class="col-md-8">
            <h3 class="m-3">Nouvelle Réservation pour <%= @van.title %></h3>
            <p class="my-0 mx-3">Nous vous accompagnons dans l'organisation de vos roadtrips, partout en France et en Europe.</p>
            <p class="my-0 mx-3">Prêt à faire partie d'une grande aventure ?</p>
            <p class="my-0 mx-3">Il ne te reste qu'à réserver ton van pour profiter pleinement !</p>
          </div>
          <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?q=80&w=1642&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="w-100 rounded">
          </div>
        </div>
      </div>
    </div>

    <div class="row m-3">
      <div class="col-md-8">
        <h4>Ton van</h4>
          <div class="card mb-3">
            <div class="card-body d-flex bg-light p-0">
              <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', height: 200, width: 300, alt: 'Van Photo' %>

              <div class="van-details p-3">
                <h3><%= @van.title %></h3>
                <p><%= @van.description %></p>
                <p class="price mb-0"><%= number_to_currency(@van.price_per_day, unit: '€', precision: 0) %>/jour</p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">
      <h4> Informations sur ta réservation</h4>
        <div class="card mb-3">
          <div class="card-body d-flex bg-light p-3">
            <%= simple_form_for [@van, @booking], html: { local: true } do |f| %>
              <div class="d-flex">
                <%= f.input :start_date, label: 'Début de ton séjour', input_html: { id: 'start_date' }%>
                <%= f.input :end_date, label: 'Fin de ton séjour', input_html: { id: 'end_date' }%>
              </div>
                <%= f.input :name, label: 'Nom', input_html: { value: current_user.name, readonly: true } %>
                <%= f.input :phone_number, label: 'Numéro de téléphone', input_html: { value: current_user.phone_number, readonly: true } %>
                <%= f.input :email, label: 'Email', input_html: { value: current_user.email, readonly: true } %>
                <%= f.input :email, label: 'Adresse', input_html: { value: current_user.address, readonly: true } %>

                <div id="total_price" data-target="booking.totalPrice" class="my-3">Prix Total: <%= @booking.price %> €</div>

              <%= f.submit 'Réserver', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</div>
