<div class="container-full">
  <div class="row justify-content-center">
    <div class="col-12 text-center booking-info-title">
      <h1 class="page-title">
        Réservation validée <i class="fas fa-check text-success"></i>
      </h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="card custom-booking-info-card">
  <div class="card-header">
          <h3>Reservation <%=@booking.status == "annulée"? "annulée" : "validée"%></h3>
        </div>
        <div class="card-body">
          <h5 class="custom-card-title">Vos informations</h5>
          <ul class="list-unstyled">
            <li><strong>Nom:</strong> <%= @booking.user.name %></li>
            <li><strong>Téléphone:</strong> <%= @booking.user.phone_number %></li>
            <li><strong>Email:</strong> <%= @booking.user.email %></li>
            <li><strong>Adresse:</strong> <%= @booking.user.address %></li>
            <li><strong>Prix: </strong><%= @booking.price.to_i %>€</li>
          </ul>
        </div>
        <div class="card-footer">
          <%= link_to 'Annuler la réservation', booking_cancel_path(@booking), data: { turbo_method: :patch}, class: 'btn-delete' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="van-card card bg-light">
        <div class="card-body">
          <% if @booking.van.photos.attached? %>
            <%= cl_image_tag @booking.van.photos.key, class: "img-fluid", alt: 'Van Photo' %>
          <% else %>
            <%= image_tag 'roadpass-zRetWvOnbf0-unsplash.jpg', class: "img-fluid", alt: 'Van Photo' %>
          <% end %>
          <div class="van-details">
            <h5 class="card-title"><%= @booking.van.title %></h5>
            <p class="card-text"><%= @booking.van.description %></p>
            <p class="card-text price mb-0 van-price"><%= number_to_currency(@booking.van.price_per_day, unit: '€', precision: 0) %>/jour</p>
            <div class="van-reviews">
              <h2>Avis</h2>
              <% if @booking.van.reviews.any? %>
                <% @booking.van.reviews.each do |review| %>
                  <div class="review">
                    <div class="review-stars">
                      <% (1..5).each do |i| %>
                        <span class="star <%= 'filled' if review.rating >= i %>">★</span>
                      <% end %>
                    </div>
                    <p><%= review.comment %></p>
                  </div>
                <% end %>
              <% else %>
                <p><em>Aucun avis pour le moment</em></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
