<!DOCTYPE html>
<html>
<head>
  <title>My Van Life</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="hero-section">
    <div class="hero-content">
      <h1>Bienvenue sur My Van Life</h1>
      <h2>Des vans pour explorer, des souvenirs pour durer.</h2>
      <%= link_to 'Voir les offres de vans', vans_path, class: "btn" %>
    </div>
  </div>
</body>
</html>
